/code/class5/swicth/nbproject/private/
/code/class5/swicth/build/
/practices/Nueva Carpeta/practice 3/nbproject/private/
/practices/Nueva Carpeta/practice 3/build/
/code/clase7/clase7/nbproject/private/
/code/clase7/clase7/build/